/* Google Fonts: Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Navigation Bar: top */
.bg-dark {
    background-color: #222831 !important;
}

/* Page Name: top left */
.navbar-brand {
    font-size: xx-large;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

/* Page Name: color */
.navbar-dark .navbar-brand {
    color: #ececec;
}

/* Menu Items: top right */
.navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Menu Items > Dropdown */
.dropdown-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #222831;
}

/* Menu Items > Dropdown Menu */
.dropdown-menu {
    background-color: #ececec;
}

/* Menu Items > Dropdown > Hover */
.dropdown-menu a:hover{
    background-color: rgba(242, 163, 101, .5);
}

/* Page Background */
body {
    background-color: #30475e;
}

/* Container Fluid */
.container-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Container */
.container {
    background-color: #ececec;
    padding: 0px 45px 25px 45px;
    margin: 0px auto 0px auto;
}

/* Container with content fit for height */
.container-fit {
    height: fit-content;
}

/* Container: comparison page */
.container-compare {
    background-color: #ececec;
    padding: 0px 50px 60px 50px;
    margin: 50px auto 50px auto;
}

/* Fit the data into the entire container */
.container-data {
    margin-top: 50px;
    padding: 0;
    margin-bottom: 50px;
}

.table-responsive {
    margin-bottom: 0;
}

/* Header */
header {
    color: #222831;
    font-size: 45px;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin: 25px auto 25px auto;
}

/* Change font size of header for Visualizations */
.header-small {
    font-size: 35px;
}

/* Horizontal Rule */  
hr {
border: 1px solid #f2a365;
margin: 0px 15px 20px 15px;
}

/* Hidden hr to display at smaller resolution on Comparison page */
.hidden-hr {
    display: none;
}

/* Holds the common text attributes */
.text {
    color: #222831;
    font-family: 'Lora', serif;
    font-weight: 500;
}

/* Text formatting for any page */
.text-style {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

/* Add to format text as justified */
.text-justify {
    font-size: 25px;
    text-align: justify;
    margin: 25px 15px 0px 15px;
}

/* Add to format text as centered */
.text-center {
    font-size: 25px;
    text-align: center;
    margin: 25px 0px 25px 0px;
}

/* Set image to be scaled to 100% */
img {
    height: 100%;
    width: 100%;
}

/* Image: home page, right side */
.img-right {
    padding: 25px 15px 25px 15px;
}

/* Scale an image to fit within height */
.img-scale {
    max-width: 600px;
    padding-right: auto;
}

/* Center the image */
.img-container {
    text-align: center;
}

/* Image: home page, left side */
.img-float {
    float: left;
    padding: 25px 40px 25px 15px;
    width: 383px;
    height: 285.328px;
}

/* Image: comparison page */
.img-compare {
    padding: 0px 25px 0px 25px;
}

.img-thumbnail {
    background-color: transparent;
    border: 2px solid #222831;
}

/* Creates a margin at the bottom */
.spacing {
    margin-bottom: 25px;
}

/* Medium device changes */
@media (max-width: 992px) {

    header {
        font-size: 35px;
    }

    .text-justify {
        font-size: 20px;
        font-weight: 300;
    }

    .text {
        color: #ececece7;
    }

    .navbar-dark .navbar-brand {
        color: #ececece7;
    }

    .dropdown-menu {
        background-color: #ececece7;
    }

    .dropdown-item {
        color: #313131;
    }
    
    .dropdown-menu a:hover{
        background-color: rgba(202, 62, 62, .35);
    }

    .bg-dark {
        background-color: #313131 !important;
    }

    body {
        background-color: #414141;
    }

    .container {
        background-color: #525252;
    }

    header {
        color: #ececece7;
    }

    hr {
        border: 1px solid #ca3e3e;
    }

    .img-thumbnail {
        border: 2px solid #313131;
}

/* Smaller device changes */
@media (max-width: 768px) {
    header {
        font-size: 25px;
    }

    .navbar-brand {
        font-size: x-large;
    }

    .text-justify {
        font-size: 18px;
    }

    .text-center {
        font-size: 18px;
    }

    .text-style {
        font-size: 16px;
    }

    .img-float {
        margin-left: 18px;
    }

    .hidden-hr {
        display: inherit;
        margin-top: 50px;
        margin-bottom: 0px;
    }

}